apipkg==1.5
atomicwrites==1.4.0
attrs==20.3.0
backports.functools-lru-cache==1.6.1
base==1.0.4
configparser==4.0.2
contextlib2==0.6.0.post1
coverage==5.3
Django==1.7
execnet==1.7.1
funcsigs==1.0.2
importlib-metadata==2.1.1
more-itertools==5.0.0
mysqlclient==1.4.6
packaging==20.7
pathlib2==2.3.5
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==4.6.11
pytest-cov==2.5.1
pytest-django==3.10.0
pytest-forked==1.0.2
pytest-xdist==1.20.0
scandir==1.10.0
six==1.15.0
wcwidth==0.2.5
zipp==1.2.0
